:root {
    --main: #0000;
    --bg-color: #222327;
    --orange: #ff6f26;
    --purple: #5e34b2;
    --yellow: #ffa827;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: var(--bg-color);
}

@media screen and (max-width: 75em) {
    html {
        font-size: 56.25%;
    }
}
@media screen and (max-width: 56.25em) {
    html {
        font-size: 50%;
    }
}
@media screen and (max-width: 37.5em) {
    html {
        font-size: 50%;
    }
}
@media screen and (min-width: 121.875em) {
    html {
        font-size: 65%;
    }
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    overflow-x: hidden;
    height: 100vh;
    box-sizing: border-box;
    background-image: url(../images/backbanner1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body::-webkit-scrollbar {
    display: none;
}
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

.logo {
    font-size: 24px;
    background: linear-gradient(to right, #ff6f26, #5e34b2, #ffa827);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 40px;
    /* text-align: center; */
    margin-top: 6vh;
}

/* LOGIN CSS */
.main-container {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #808080;
    height: 98vh;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    background-color: #222327;
}
.main_container_fluid {
    max-width: 450px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #808080;
    height: max-content;
    min-height: 98%;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    background-color: #222327;
    background-repeat: no-repeat;
    overflow: auto;
}
.card_content_my_events_MAIN {
    max-width: 450px;
    position: relative;

    margin-left: auto;
    margin-right: auto;
    border: 1px solid #808080;
    height: max-content;
    min-height: 98%;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    background-color: #222327;
    background-repeat: no-repeat;
    overflow: auto;
}
.main_container_fluid::-webkit-scrollbar-thumb {
    background: #222327;
}
.main_container_fluid:-webkit-scrollbar {
    display: none;
}
.main_container_fluid::-webkit-scrollbar-track {
    background: #222327;
}
.card_content_my_events_MAIN::-webkit-scrollbar-thumb {
    background: #222327 !important;
}
.card_content_my_events_MAIN:-webkit-scrollbar {
    display: none !important;
}
.card_content_my_events_MAIN::-webkit-scrollbar-track {
    background: #222327 !important;
}
.cotainer-login {
    height: 60vh;
    margin-top: 14vh;
    margin-bottom: 20vh;
}
.register-login-title {
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
}
.form-login {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.register-login {
    display: flex;
    justify-self: center;
    color: var(--yellow);
    font-size: 14px;
}
.input {
    background-color: var(--bg-color);
    /* margin: 20px; */
    margin-top: 10px;
    width: 100% !important;
    color: white;
    /* border: 2px solid white; */
    height: 4.7vh;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    font-family: "Poppins", sans-serif;
    padding: 10px;
}
input {
    width: 100% !important;
}
input[type="text"] {
    width: 100% !important;
}
input[type="number"] {
    width: 100% !important;
}
input[type="text"]:hover {
    border: 1px solid var(--orange);
    transition: 1s ease;
}
input[type="password"]:hover {
    border: 1px solid var(--orange);
    transition: 1s ease;
}
input[type="text"]:focus {
    outline: 1px solid var(--orange) !important;
}
input[type="password"]:focus {
    outline: 1px solid var(--orange) !important;
}
.select {
    width: 100% !important;
    height: 25rem !important;
}
.date_e {
    width: 100% !important;
}
.select:focus {
    outline: 1px solid var(--orange) !important;
}
#profile_gender {
    height: 8rem;
}
.checkbox {
    display: flex;
    align-items: center;
    text-indent: 2.5rem;
    color: white;
    margin-top: 4vh;
    font-size: 1.7rem;
}
.check {
    background-color: var(--orange);
}
.button_login_register {
    width: 300px;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--purple);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    margin-left: 2.5rem;
    margin-top: 4.5rem;
    cursor: pointer;
    text-decoration: none;
    font-style: none;
}

.already-an-account {
    width: auto;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    margin-top: 4.5vh;
    font-size: 1.7rem;
}
.Terms {
    color: gray;
    text-align: center;
    margin-bottom: 3vh;
    margin-top: 8vh;
    font-size: 1.4rem;
    z-index: 2;
}
.Terms > span {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}
.bubble {
    height: 12rem;
    max-width: 448px;
    z-index: -100;
    position: absolute;
    bottom: 0;
}
.text-danger {
    text-indent: 2.5rem;
    font-size: 15px;
    color: red;
}
/* LOGIN CSS END */

/* REGISTER CSS */

/* REGISTER CSS END */

/* PROFILE PAGE CSS */
.profile_btn-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem;
}
.profile_btn-nav_link {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--purple);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    margin-left: 2.5rem;
    margin-top: 4.5rem;
    cursor: pointer;
    font-size: 18px;
    margin: 1.2rem;
    text-decoration: none;
}
.profile_btn-nav_link:visited {
    color: white;
}
.conteiner_profile {
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.profile_img_profile {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}
#logout_profile:visited {
    background-color: var(--orange);
}
.profile_text {
    width: max-content;
    color: white;
    font-family: "Poppins", sans-serif;
    /* text-indent: 3rem; */
    font-size: 15px;
    /* border-bottom: 1px solid var(--yellow); */
    /* color: var(--yellow); */
}
.profile_group_label {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}
.Terms_register {
    color: gray;
    text-align: center;
    margin-bottom: 3vh;
    margin-top: 4vh;
    font-size: 1.4rem;
    z-index: 2;
}
.Terms_register > span {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}
.mod_profile_btn {
    width: max-content;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--purple);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 4rem;
    margin-top: 3rem;
    cursor: pointer;
}
.profile_img {
    border: 1px solid red;
}
/* PROFILE PAGE CSS END */

/* CREATE EVENT CSS */
.create_title {
    width: 90%;
    color: white;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    border: 2px solid var(--purple);
    padding: 1rem;
    text-align: center;
}
/* CREATE EVENT CSS END */

/* CARD CSS */
.card_main {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45%;
    border-radius: 1rem 1rem 0 0;
    z-index: 999;
    background-color: #222327;
    display: grid;
    grid-template-rows: 1fr max-content;
    gap: 0.5rem;
    background-color: #222327;
}
.card_events {
    overflow: auto;
    padding-bottom: 4rem;
}
.card_events::-webkit-scrollbar {
    width: 1rem;
    height: 10px !important;
}
.card_events::-webkit-scrollbar-track {
    background: #222327;
}
.card_events::-webkit-scrollbar-thumb {
    background: var(--orange);
    border-radius: 1rem;
}
.card-content {
    max-width: 95%;
    min-width: 95%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid var(--orange); */
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    border-radius: 5px;
    padding-top: 2rem;
    /* height: 8rem; */
    background: linear-gradient(
        179.29deg,
        rgba(34, 35, 39, 0.62) -6.18%,
        rgba(34, 35, 39, 0.3) 82.82%
    );
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(20px);
    cursor: pointer;
}
.card_content_my_events {
    max-width: 95%;
    min-width: 95%;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    border-radius: 5px;
    padding-top: 2rem;
    /* height: 8rem; */
    background: linear-gradient(
        179.29deg,
        rgba(34, 35, 39, 0.62) -6.18%,
        rgba(34, 35, 39, 0.3) 82.82%
    );
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(20px);
    cursor: pointer;
}
.div_location {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div_location > svg {
    color: var(--yellow);
}
.date_location {
    font-size: 15px;
    margin-left: 1rem;
    margin-right: 1rem;
    color: white;
}
.icon_location {
    margin-left: -1rem;
}
.title_location {
    margin-left: 1rem;
    margin-right: 1rem;
    color: white;
}
/*NAVBAR*/
.sidebar {
    position: fixed;
    background-color: white;
    top: 0;
    left: -100%;
    width: 40%;
    height: 100%;
    z-index: 999;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ccc;
    transition: all 0.2s;
}
.sidebar_active {
    left: 0;
}
.sidebar_close {
    position: absolute;
    right: 1rem;
    top: 1rem;
}
.sidebar_close svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.cur-popup {
    background-color: #222327;
    border-radius: 5px;
    color: white;
    font-size: 1.4rem;
    text-align: center;
}
.leaflet-popup-tip {
    background-color: #222327 !important;
    border: none;
}
.leaflet-popup-content-wrapper {
    background-color: transparent !important;
    border: none;
    border-radius: 0;
}
.leaflet-popup-content {
    color: white;
    font-size: 1.4rem;
}
.card_btns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
}
.card_btns_btn {
    width: 100%;
    margin: 0;
}
.profile_btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 50px;
    height: 50px;
    z-index: 999;
}
.profile_btn img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
}
.logo_home {
    font-size: 24px;
    background: linear-gradient(to right, #ff6f26, #5e34b2, #ffa827);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 4rem;
    /* text-align: center; */
}
.title_home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3vh;
}
.local_events {
    color: whitesmoke;
    font-size: 24px;
    padding-right: 4rem;
}
/*NAVBAR END*/
/* CARD CSS END */

/* EVENT SCREEN */

.img_banner {
    width: 100%;
}
.img_banner_prof {
    width: 20rem;
    border-radius: 100%;
}
.img_part {
    width: 20rem;
    border-radius: 100%;
}
.info_cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    text-align: center;
    margin-bottom: 3rem;
    border-left: 2px solid white;
    color: white;
}
.info_event {
    font-size: 16px;
    width: 90%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background: linear-gradient(
        179.29deg,
        rgba(34, 35, 39, 0.62) -6.18%,
        rgba(34, 35, 39, 0.3) 82.82%
    );
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.8);
    text-align: left;
    backdrop-filter: blur(20px);
    cursor: pointer;
    padding: 1rem;
    border-radius: 10px;
    padding-left: 2rem;
    color: white !important;
}
.info_dim {
    color: var(--orange) !important;
}
.org {
    display: flex;
    align-items: center;
}
.my_events_list_element {
    margin-bottom: 4rem;
}
.my_events_title {
    color: white;
    font-size: 20px;
}
/* EVENT SCREEN END */

/* MEDIA QUERY */

@media only screen and (max-width: 500px) {
    .main-container {
        border: none;
    }
}
@media only screen and (max-width: 450px) {
    .main-container {
        border: none;
        border-radius: 0 !important;
    }
    .main_container_fluid {
        border-radius: 0 !important;
    }
    card_events::-webkit-scrollbar {
        width: 0;
    }
    .card_events::-webkit-scrollbar-track {
        background: #222327;
    }
    .card_events::-webkit-scrollbar-thumb {
        background: #222327;
    }
}

/* MEDIA QUERY END*/

.main_container_fluid::-webkit-scrollbar {
    display: none;
}
.main_container_fluid {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
