:root {
    --main: #0000;
    --bg-color: #222327;
    --orange: #ff6f26;
    --purple: #5e34b2;
    --yellow: #ffa827;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: var(--bg-color);
}

@media screen and (max-width: 75em) {
    html {
        font-size: 56.25%;
    }
}
@media screen and (max-width: 56.25em) {
    html {
        font-size: 50%;
    }
}
@media screen and (max-width: 37.5em) {
    html {
        font-size: 50%;
    }
}
@media screen and (min-width: 121.875em) {
    html {
        font-size: 65%;
    }
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    overflow-x: hidden;
    box-sizing: border-box;
    background-image: url(../images/back.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

.logo {
    font-size: 24px;
    background: linear-gradient(to right, #ff6f26, #5e34b2, #ffa827);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 40px;
    /* text-align: center; */
    margin-top: 6vh;
}

/* LOGIN CSS */
.main-container {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #808080;
    height: 100vh;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    background-color: #222327;
}
.main_container_fluid {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #808080;
    height: auto;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    background-color: #222327;
    background-repeat: no-repeat;
}
.cotainer-login {
    height: 60vh;
    margin-top: 14vh;
    margin-bottom: 20vh;
}
.register-login-title {
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
}
.form-login {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.register-login {
    display: flex;
    justify-self: center;
    color: var(--yellow);
    font-size: 14px;
}
.input {
    background-color: var(--bg-color);
    margin: 20px;
    margin-top: 10px;
    width: 300px;
    color: white;
    /* border: 2px solid white; */
    height: 4.7vh;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    font-family: "Poppins", sans-serif;
    padding: 10px;
}
input[type="text"]:hover {
    border: 1px solid var(--orange);
    transition: 1s ease;
}
input[type="password"]:hover {
    border: 1px solid var(--orange);
    transition: 1s ease;
}
input[type="text"]:focus {
    outline: 1px solid var(--orange) !important;
}
input[type="password"]:focus {
    outline: 1px solid var(--orange) !important;
}
.select {
    height: 25rem !important;
}
.select:focus {
    outline: 1px solid var(--orange) !important;
}
#profile_gender {
    height: 8rem;
}
.checkbox {
    display: flex;
    align-items: center;
    text-indent: 2.5rem;
    color: white;
    margin-top: 4vh;
    font-size: 1.7rem;
}
.check {
    background-color: var(--orange);
}
.button_login_register {
    width: 300px;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--purple);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    margin-left: 2.5rem;
    margin-top: 4.5rem;
    cursor: pointer;
}
.already-an-account {
    width: auto;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    margin-top: 4.5vh;
    font-size: 1.7rem;
}
.Terms {
    color: gray;
    text-align: center;
    margin-bottom: 3vh;
    margin-top: 8vh;
    font-size: 1.4rem;
    z-index: 2;
}
.Terms > span {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}
.bubble {
    height: 12rem;
    max-width: 448px;
    z-index: -100;
    position: absolute;
    bottom: 0;
}
.text-danger {
    text-indent: 2.5rem;
    font-size: 15px;
    color: red;
}
/* LOGIN CSS END */

/* REGISTER CSS */

/* REGISTER CSS END */

/* PROFILE PAGE CSS */
.profile_btn-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem;
}
.profile_btn-nav_link {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--purple);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    margin-left: 2.5rem;
    margin-top: 4.5rem;
    cursor: pointer;
    font-size: 18px;
    margin: 1.2rem;
    text-decoration: none;
}
.profile_btn-nav_link:visited {
    color: white;
}
.conteiner_profile {
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.profile_img_profile {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}
#logout_profile:visited {
    background-color: var(--orange);
}
.profile_text {
    color: white;
    font-family: "Poppins", sans-serif;
    text-indent: 3rem;
    font-size: 15px;
}
.profile_group_label {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}
.Terms_register {
    color: gray;
    text-align: center;
    margin-bottom: 3vh;
    margin-top: 4vh;
    font-size: 1.4rem;
    z-index: 2;
}
.Terms_register > span {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}
.mod_profile_btn {
    width: max-content;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--purple);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 4rem;
    margin-top: 3rem;
    cursor: pointer;
}
.profile_img {
    border: 1px solid red;
}
/* PROFILE PAGE CSS END */

/* CREATE EVENT CSS */
.create_title {
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    border: 2px solid var(--purple);
    padding: 1rem;
}
/* CREATE EVENT CSS END */

/* MEDIA QUERY */

@media only screen and (max-width: 500px) {
    .main-container {
        border: none;
        border-radius: 0 !important;
    }
    .main_container_fluid {
        border-radius: 0 !important;
    }
}

/* MEDIA QUERY END*/
